body{
}

.innercontainer{
	margin: 0 auto;
	min-height: 600px;
    height: auto !important;
    height: 600px;
	padding-top: 20px;
	width:100%;
}

.footer{
	background:#f8f8f8;
	border: 1px solid #e7e7e7;
	height:40px;
	position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
}