<h2>Join</h2>
<div class="row">
  <div class="col-md-12">
    So you want to join? <br>
    Well then better connect to our Discord. (We are usually online from 17:00-22:00 UTC.)<br>
    <br>
  </div>
  <div class="col-md-6">
    <iframe src="https://discordapp.com/widget?id=223039036929867777&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
  </div>
</div>