<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Gorilla Warfare</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="icon" href="assets/img/favicon.png" type="image/png">
  </head>
  <body style="background-image: url('assets/img/ignasi_pattern_s.png')">
    <div class="container">
      <div class="innercontainer">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a style="padding-right: 5px;" href="/">
                <img style="max-height:50px;" src="assets/img/favicon.png" alt="Gorilla Warfare">
              </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li>
                  <a href="/">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                  </a>
                </li>
                <li>
                  <a href="/join">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Join
                  </a>
                </li>
                <li>
                  <a href="/media">
                    <span class="glyphicon glyphicon-film" aria-hidden="true"></span> Media
                  </a>
                </li>
                <li>
                  <a href="/faq">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> FAQ
                  </a>
                </li>
                <li>
                  <a href="/members">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Members
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <br><br>
        {{{body}}}
        <noscript>
          Turn on JavaScript ye silly bloke
        </noscript>
      </div>
      <br>
    </div>
    <br><br>
    <div class="footer">
      <marquee behavior="scroll" direction="left">RIP Harambe</marquee>
    </div>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>